<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.mybatis.mybatisbase.phase02.mapper.HrMapper">

    <select id="findHrById" resultType="com.cj.mybatis.mybatisbase.phase02.domain.Hr" parameterType="int">
        select * from Hr where id = #{id}
    </select>

</mapper>